#bus-seat {width:80%}
	.forbuses {
		width: 33.3%;
		float: left;
		padding: 15px;
	}
	.clearfix:after {
	    content:" ";
	    display:table;
	    clear:both;
	}
	.li-seat {
	    /*display: flex;
	    flex: 0 0 14.28571428571429%;*/
	    padding: 5px;
	    position: relative;
		list-style: none;
	}
	.li-seat input[type="checkbox"] {
	    position: absolute;
	    opacity: 0;
	}
	input[type=checkbox][disabled] + label{
	  	background-color: #F42536;
	}
	.li-seat label {
	    display: block;
	    position: relative;
	    width: 100%;
	    text-align: center;
	    font-size: 14px;
	    font-weight: bold;
	    line-height: 1.5rem;
	    padding: 10px;
	    background: steelblue;
	    border-radius: 5px;
	    animation-duration: 300ms;
	    animation-fill-mode: both;
	}
	.li-seat input[type="checkbox"]:checked + label {
	    background: #bada55;
	    -webkit-animation-name: rubberBand;
	    animation-name: rubberBand;
	    animation-duration: 300ms;
	    animation-fill-mode: both;
	}
	@-webkit-keyframes rubberBand {
	  0% {
	    -webkit-transform: scale3d(1, 1, 1);
	            transform: scale3d(1, 1, 1);
	  }

	  30% {
	    -webkit-transform: scale3d(1.25, 0.75, 1);
	            transform: scale3d(1.25, 0.75, 1);
	  }

	  40% {
	    -webkit-transform: scale3d(0.75, 1.25, 1);
	            transform: scale3d(0.75, 1.25, 1);
	  }

	  50% {
	    -webkit-transform: scale3d(1.15, 0.85, 1);
	            transform: scale3d(1.15, 0.85, 1);
	  }

	  65% {
	    -webkit-transform: scale3d(.95, 1.05, 1);
	            transform: scale3d(.95, 1.05, 1);
	  }

	  75% {
	    -webkit-transform: scale3d(1.05, .95, 1);
	            transform: scale3d(1.05, .95, 1);
	  }

	  100% {
	    -webkit-transform: scale3d(1, 1, 1);
	            transform: scale3d(1, 1, 1);
	  }
	}

	@keyframes rubberBand {
	  0% {
	    -webkit-transform: scale3d(1, 1, 1);
	            transform: scale3d(1, 1, 1);
	  }

	  30% {
	    -webkit-transform: scale3d(1.25, 0.75, 1);
	            transform: scale3d(1.25, 0.75, 1);
	  }

	  40% {
	    -webkit-transform: scale3d(0.75, 1.25, 1);
	            transform: scale3d(0.75, 1.25, 1);
	  }

	  50% {
	    -webkit-transform: scale3d(1.15, 0.85, 1);
	            transform: scale3d(1.15, 0.85, 1);
	  }

	  65% {
	    -webkit-transform: scale3d(.95, 1.05, 1);
	            transform: scale3d(.95, 1.05, 1);
	  }

	  75% {
	    -webkit-transform: scale3d(1.05, .95, 1);
	            transform: scale3d(1.05, .95, 1);
	  }

	  100% {
	    -webkit-transform: scale3d(1, 1, 1);
	            transform: scale3d(1, 1, 1);
	  }
	}

	.rubberBand {
	  -webkit-animation-name: rubberBand;
	          animation-name: rubberBand;
	}